@import "./variables.css";
@import "./style-second-table.css";

@font-face {
  font-family: "Arimo";
  src: url(../fonts/Arimo-Regular.ttf);
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Arimo";
  src: url(../fonts/Arimo-Bold.ttf);
  font-weight: 700;
  font-size: normal;
}

body {
  background-color: var(--color-background-body);
  font-family: "Arimo", sans-serif;
  color: #484848;
}

/* GENERAL PART START. Table is below */
.header,
.nav,
.items,
.main,
.footer,
.button-wrapper,
.price-wrapper,
.footer__items {
  display: flex;
  flex-wrap: wrap;
}

.footer__items {
  flex-direction: column;
  justify-content: space-between;
}

.nav,
.items {
  justify-content: space-around;
}

.header,
.main,
.footer,
.button-wrapper,
.price-wrapper {
  justify-content: center;
}

.header {
  border-bottom: 0.4rem solid var(--color-border-body);
}

.nav {
  width: 400rem;
}

.tfoot__cell-first {
  background-color: #dddddd;
}

.items {
  width: 100%;
  margin: 4rem 0;
}

.header__link {
  font-size: var(--font-size-x);
}

.header__link:hover,
.footer__link:hover {
  color: var(--color-link-hover);
}

.footer {
  border-top: 0.4rem solid var(--color-border-body);
}

.footer > .nav {
  height: 100px;
}

.footer__items {
  height: 50px;
  margin-top: 20px;
}

.footer__link {
  font-size: var(--font-size-m);
  display: block;
}
/* GENERAL PART FINISH */

/* --------------------- FIRST TABLE START --------------------- */
.caption {
  color: var(--color-title);
  font-size: var(--font-size-xxl);
  margin-bottom: 2rem;
}

.caption,
.thead-one__title-top,
.thead-one__title-bottom,
.thead-two,
.thead-three,
.thead-four,
.price,
.price-cents,
.button {
  font-weight: 700;
}

.table-wrapper {
  margin: 2rem 0;
}

.table {
  border: 25px solid #3a4965;
  border-collapse: collapse;
  text-transform: uppercase;
}

.first-table td {
  height: 72px;
  width: 280px;
  text-align: center;
  line-height: 28px;
}

.first-table td:first-child {
  line-height: 16px;
}

.button > div {
  line-height: 16px;
}

.first-table .first-column {
  width: 311px;
}

.thead-two,
.button-two {
  background-color: #89c331;
}

.thead-three,
.button-three {
  background-color: #f04a56;
}

.thead-four,
.button-four {
  background-color: #20807c;
}

.thead-two,
.thead-three,
.thead-four,
.button {
  color: #ffffff;
}

.thead-two,
.thead-four {
  padding: 27px 0px 15px;
}

.thead-two,
.thead-four,
.price-cents {
  font-size: 24px;
}

.thead-three {
  padding: 24px 0px 21px;
}

.thead-three,
.thead-one__title-bottom {
  font-size: 30px;
}

.price {
  font-size: 60px;
  padding-top: 5px;
}

.price-cents {
  text-align: left;
}

.price-text {
  font-weight: 400;
  margin-left: 5px;
  font-size: 18px;
}

.column-border {
  border-right: 1px solid #cecece;
}

.thead-one__title-top {
  font-size: 18px;
}

.thead-one,
.thead-bottom {
  background-color: #fafafa;
}

.thead-bottom {
  height: 87px;
}

.first-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.first-column__text,
.icon {
  display: inline-block;
}

/* tfoot start */
.button {
  width: 192px;
  border-radius: 5px;
  padding: 18px 0px 6px;
  margin: 31px 0px 26px;
}

.button-one {
  border-bottom: 12px solid #404040;
  background-color: #484848;
}

.button-one:hover,
.button-two:hover,
.button-three:hover,
.button-four:hover {
  box-shadow: 5px 5px 10px #2f2f2f;
}

.button-two {
  border-bottom: 12px solid #79b027;
}

.button-three {
  border-bottom: 12px solid #df3a46;
}

.button-four {
  border-bottom: 12px solid #16736f;
}
/* tfoot finish */

/* --------------------- FIRST TABLE FINISH --------------------- */
