/* --------------------- SECOND TABLE START --------------------- */

.second-table td {
  height: 169px;
  width: 160px;
  text-align: center;
}

.second-table th:nth-child(odd),
.second-table td:nth-child(odd) {
  background-color: #f2f2f2;
}

.second-table th:nth-child(even),
.second-table td:nth-child(even) {
  background-color: #e3e3e3;
}

.first-row,
.first-column-cell-two > p,
.first-column-cell-three > p,
.first-column-cell-four > p,
.second-table .price,
.second-table .price-text,
.second-table .button-one {
  font-weight: 700;
}

.first-row {
  border-bottom: 12px solid #3a4965;
}

.first-row,
.second-table .thead-one__title-bottom {
  font-size: 20px;
}

.thead__cell-first {
  width: 198px;
  height: 100px;
}

.second-table th:first-child {
  background-color: #fafafa;
}

.second-table .thead-one__title-top,
.second-table .price-text {
  font-size: 14px;
}

.first-cell-wrapper,
.first-column-cell-two,
.first-column-cell-three,
.first-column-cell-four,
.second-table .price-wrapper {
  display: flex;
}

.first-cell-wrapper,
.first-column-cell-two,
.first-column-cell-three,
.first-column-cell-four {
  flex-direction: column;
}

.first-cell-wrapper {
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.first-column-wrapper {
  color: #ffffff;
}

.first-column-cell-two,
.first-column-cell-three,
.first-column-cell-four {
  justify-content: center;
  height: 121px;
}

.first-column-cell-two > p,
.first-column-cell-three > p,
.first-column-cell-four > p,
.second-table .price {
  font-size: 24px;
}

.first-column-cell-two,
.first-column-cell-three,
.first-column-cell-four {
  height: 169px;
}

.first-column-cell-two {
  background-color: #89c331;
}

.first-column-cell-three {
  background-color: #f04a56;
}

.first-column-cell-four {
  background-color: #20807c;
}

.second-table .price {
  font-size: 36px;
}

.second-table .price-cents {
  font-size: 18px;
  padding-top: 7px;
}

.second-table .price-text {
  align-self: center;
}

.second-table .button {
  width: 147px;
  padding: 11px 0px 6px;
  margin: 10px 0px 0px;
}

.second-table .button-one {
  border-bottom: 5px solid #404040;
  background-color: #484848;
}

.second-row {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

/* --------------------- SECOND TABLE FINISH --------------------- */
