:root {
  /* COLORS */
  --color-background-body: #e5e5e5;
  --color-border-body: #ececec;

  --color-title: #9e9e9e;
  --color-link-hover: #848484;

  /* FONT SIZES */
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-x: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;
}
